:root {
  --color-Strong-cyan: hsl(172, 67%, 45%);
  --color-Very-dark-cyan: hsl(183, 100%, 15%);
  --color-Dark-grayish-cyan: hsl(186, 14%, 43%);
  --color-Grayish-cyan: hsl(184, 14%, 56%);
  --color-Light-grayish-cyan: hsl(185, 41%, 84%);
  --color-Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --color-White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
body {
  background-color: var(--color-Light-grayish-cyan);
}
.container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .logo {
  margin-bottom: 3rem;
}
.tip-calc {
  background-color: var(--color-White);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  gap: 2rem;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.inputs section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.inputs label,
.inputs span {
  color: var(--color-Dark-grayish-cyan);
  font-weight: 700;
}
.inputs .input-container {
  background-color: var(--color-Very-light-grayish-cyan);
  width: 25rem;
  border: 1.5px solid var(--color-Very-light-grayish-cyan);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
.inputs .input-container:hover {
  border: 1.5px solid var(--color-Strong-cyan);
}
.inputs .people-input label.error {
  color: red;
}
.inputs .people-input .input-container.error {
  border-color: red;
}
.inputs .bill-input img,
.inputs .people-input img {
  width: 15px;
}
.inputs .bill-input input,
.inputs .people-input input {
  font-size: 24px;
  border: none;
  background-color: var(--color-Very-light-grayish-cyan);
  font-weight: 700;
  width: 23rem;
  height: 3rem;
  padding: 1rem;
  text-align: end;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.inputs .people-input .lable-containter {
  display: flex;
  justify-content: space-between;
}
.select-tip .select-percentage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.4rem;
}
.select-tip button {
  border: none;
  border-radius: 0.3rem;
  background-color: var(--color-Very-dark-cyan);
  color: var(--color-Light-grayish-cyan);
  font-size: 1.3rem;
  font-weight: 700;
  width: 7rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.2s;
}
.select-tip button.active {
  background-color: var(--color-Strong-cyan);
  color: var(--color-Very-dark-cyan);
}
.select-tip button:hover {
  background-color: var(--color-Strong-cyan);
  color: var(--color-Very-dark-cyan);
}
.select-tip input {
  border: none;
  border-radius: 0.3rem;
  border: 1.5px solid var(--color-Very-light-grayish-cyan);
  background-color: var(--color-Very-light-grayish-cyan);
  padding: 1rem;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  width: 7rem;
  height: 3rem;
  outline: none;
  transition: all 0.2s;
}
.select-tip input:hover {
  border: 1.5px solid var(--color-Strong-cyan);
}
.output {
  background-color: var(--color-Very-dark-cyan);
  border-radius: 1rem;
  padding: 2rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.output .tip-amount {
  margin-bottom: 3rem;
}
.output .tip-amount,
.output .total-amount {
  display: flex;
  justify-content: space-between;
}
.output .tip-amount div p,
.output .total-amount div p {
  font-weight: 700;
  color: var(--color-Light-grayish-cyan);
}
.output .tip-amount .person,
.output .total-amount .person {
  color: var(--color-Grayish-cyan);
}
.output .amount {
  color: var(--color-Strong-cyan);
  font-size: 2rem;
  font-weight: 700;
}
.output .reset-btn {
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--color-Strong-cyan);
  color: var(--color-Very-dark-cyan);
  border: none;
  height: 2.5rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}
.output .reset-btn:hover {
  background-color: var(--color-Light-grayish-cyan);
}
.attribution {
  margin-top: 2rem;
  text-align: center;
}
.attribution a {
  color: var(--color-Strong-cyan);
}
@media (max-width: 767px) {
  .tip-calc {
    flex-direction: column;
    width: 20rem;
  }
  .inputs .input-container {
    width: 17rem;
  }
  .inputs .bill-input input,
  .inputs .people-input input {
    width: 15rem;
  }
  .select-tip .select-percentage {
    grid-template-columns: 1fr 1fr;
  }
  .output {
    width: 16.5rem;
  }
  .output .tip-amount div p,
  .output .total-amount div p,
  .output .tip-amount .person,
  .output .total-amount .person {
    font-size: 0.8rem;
  }
  .output .amount {
    font-size: 1.5rem;
  }
  .output .reset-btn {
    margin-top: 2rem;
  }
}
